* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(14, 14, 74);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  width: 80%;
  margin: 10px auto;
}
.product_detail {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
}
.product_gallery {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.thumain {
  width: 80px;
  height: 100px;
}
.main_product {
  width: 100%;
  height: 450px;
}
