* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #11224e;
}
.container {
  padding: 30px 40px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.container img {
  width: 150px;
  height: 150px;
}
.container h3 {
  font-size: 22px;
  color: #11224e;
}
.container p {
  font-size: 12px;
  color: #454547;
}
.input_main {
  display: block;
  display: flex;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.input_main label {
  font-size: 12px;
}
.input_main input {
  border-radius: 4px;
  height: 30px;
  width: 95%;
  border: 1px solid #11224e;
  outline: none;
  background-color: f7f6f6;
}
.input_main input:focus {
  color: #11224e;
  box-shadow: 0 0 6px;
  cursor: pointer;
}
.input_group {
  text-align: left;
  margin-bottom: 20px;
}
.input_group label {
  display: block;
  margin-bottom: 4px;
}
.input_group input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid#11224e;
  outline: none;
  background-color: #f7f6f6;
}
.input_group input:focus {
  color: #11224e;
  cursor: pointer;
  box-shadow: 0 0 6px;
}
.btn {
  width: 100%;
  height: 30px;
  background-color: #11224e;
  color: white;
  border-radius: 4px;
  margin-bottom: 20px;
}
.login {
  font-size: 12px;
}
.login a {
  text-decoration: none;
  color: #11224e;
}
.login a:hover {
  text-decoration: underline;
  cursor: pointer;
}
