* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #11224e;
}
.container {
  background-color: #f5f5f0;
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
}
.container img {
  padding: 8px;
  width: 100px;
  height: 100px;
  background-color: #587cd6;
  border-radius: 50%;
  margin-bottom: 20px;
}
.container h3 {
  font-size: 22px;
  color: #11224e;
  margin-bottom: 4px;
}
.container p {
  font-size: 12px;
  color: #737373;
  margin-bottom: 20px;
}
.input_grop {
  text-align: left;
  margin-bottom: 18px;
}
.input_grop input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #11224e;
  background-color: #807e7e;
}
.input_grop input:focus {
  border-color: #11224e;
  box-shadow: 0 0 6px #617bbb;
  outline: none;
}
.input_grop label {
  display: block;
  font-size: 12px;
  color: #11224e;
  margin-bottom: 4px;
}
.forgot {
  text-align: right;
  margin-bottom: 20px;
}
.forgot a {
  text-decoration: none;
}
.forgot a:hover {
  text-decoration: underline;
}
.btn {
  padding: 10px 12px;
  width: 100%;
  background-color: #11224e;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.register {
  margin-top: 20px;
  color: #11224e;
}
.register a {
  text-decoration: none;
  color: #11224e;
}
.register a:hover {
  text-decoration: underline;
  cursor: pointer;
}
